/* Paleta de cores do fundo:
.color1 { #9c5434 };
.color2 { #f1e7ad };
.color3 { #040c1c };
.color4 { #5c759c };
.color5 { #9ba9bd };*/

/*Fonte do texto: font-family: 'Poppins', sans-serif;
Fonte do Título: font-family: 'Mr De Haviland', cursive;
Fonte do Logo: font-family: 'Harry Potter', sans-serif;*/ 

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

html{
    scroll-behavior: smooth;
}

/* Estilizações Body*/
body {
    background-color: #040c1c;
    background-image: url(../img/Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


/*Estilizações do Header*/
header {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100px;
    background-color: #040c1c;
    display: flex;
    justify-content: space-between;
}

header h1 {
    color: #f1e7ad;
    font-family: 'Harry Potter', sans-serif;
    font-size: 50px;
    padding-top: 20px;
}

.logo {
    display: flex;
    justify-content: flex-start;
}

nav {
    padding-top: 20px;
}

.navegadores {
    display:flex;
    justify-content: flex-end;
}

.menu {
    background-color: #5c759c;
    color: #040c1c ;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 25px;
}

.menu a {
    text-decoration: none;
    color: #040c1c;
    font-family: 'Harry Potter', sans-serif;
    font-size: 32px;
}


/*Estilizações Main*/

section {
    margin: 20px;
    padding: 20px;
}

#Home div {
    background-color: #040c1c;
    padding: 20px;
    border-radius: 10px;   
}

#Home div p {
    font-size: 1rem;
    color: #f1e7ad;
    text-align: justify;
    text-indent: 2rem;
}

#Home div p b {
    font-size: 1.1rem;
    font-weight: 700;
}

.titulo-secao {
    font-family: 'Harry Potter', sans-serif;
    font-size: 3.125rem;
    color: #f1e7ad;
    -webkit-text-stroke: #040c1c 1px;
    text-align: center;
}

.pai-curiosidades { /*Div que abrange as 3 caixinhas com curiosidades*/
    display: flex;
    justify-content: space-around;
}

.curiosidade {
    background-color: #f1e7ad ;
    color: #9c5434;
    width: 380px;
    height: 800px;
    border-radius: 25px;
    margin: 10px;
    overflow: hidden;
}

.curiosidade img {
    object-fit: cover;
    width: 100%;
}

.curiosidade h2 {
    font-family: 'Mr De Haviland', cursive;
    font-size: 65px;
    width: 380px;
    text-align: center;
}

.curiosidade p {
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
}

.curiosidade ul {
    padding-left: 40px;
    padding-right: 10px;
    list-style-type: square;
}

#destaque-1 {
    background-color: #9c5434;
    color:#f1e7ad;
    margin-top: 10px;
    padding: 5px 10px 5px 10px;
    text-align: center;
}

#destaque-1 a {
    text-decoration: none;
    color: #f1e7ad;
    font-weight: 800;
}

#video {
    width: 900px;
    margin: auto;
    padding: 10px;
}

/*Estilizações Footer*/
footer {
    background-color: #040c1c;
}
.integrantes {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    color: #f1e7ad;
}

/*Responsividade*/
@media only screen and (max-width: 1280px) {
main #video{
    width: 1200px;
    margin: 20px;
    padding: 20px;
    align-items: center;
}

main iframe{
    width: 1280px;
    margin: auto;
}
}
@media only screen and (max-width: 425px) {
    header {
        height: 420px;
        flex-direction: column;
        justify-content: space-around;
    }

    header .navegadores {
        flex-direction: column;
        gap: 8px;

    }

    main #Home {
        display: none;
    }
     main #Curiosidade{
        margin: 10px;
        padding: 0px;
        width: 390px;
     }
   

    main .pai-curiosidades {
        flex-direction: column;
        margin: auto;
    }

    main #video {
        flex-direction: column;
        width: 390px;
        align-items: center;
        margin: 10px;
        padding: 0px;

    }

    main iframe{
        width: 390px;
        margin: auto;
    }
}